/setup.py
/solicitacoes de arquivos.PNG
/Informações ao usuário.PNG
/arquivo_publicação.txt
/exemplo.PNG
/historico_bot_postagem.PNG
/tela_principal.PNG
/historico_bot_conexoes.PNG
/bot_conexoes.PNG
.idea/
.__pycache__/